version: '3.4'

services:
    api:
        image: ${DOCKER_REGISTRY-}api
        environment:
            - DATABASE=Data Source=ms-sql-server;Initial Catalog=LancheRapidoBD;Encrypt=false;User ID=SA;Password=Pa55w0rd2021;Trusted_Connection=False; TrustServerCertificate=True;
        restart: always
        build:
          context: .
          dockerfile: Api/Dockerfile
        ports:
            - "5000:5000"
            - "5001:5001"

        depends_on:
            - ms-sql-server

    ms-sql-server:
        image: mcr.microsoft.com/mssql/server:2017-latest-ubuntu
        environment:
          ACCEPT_EULA: "Y"
          SA_PASSWORD: "Pa55w0rd2021"
          MSSQL_PID: Express
        ports:
          - "1433:1433"
        volumes:
            - ./data:/var/opt/mssql/data
            - ./log:/var/opt/mssql/log
